proxmox_api_url = "https://proxmoxip:8006/api2/json"
proxmox_api_token_id = "username@pve|id"
proxmox_api_token_secret = "secret"
node = "pmx"
vm_name = "debian-vm-1"
vm_desc = "Debian VM 1"
cpu_cores = 1
cpu_sockets = 1
memory = 2048
ciuser = "s4m1nd"
ssh_public_key = "ssh-public-key"
