proxmox_host      = "proxmoxip:8006"
proxmox_node      = "proxmoxnode"
vmid              = "1337"
cpu_type          = "kvm64"
cores             = "2"
memory            = "2048"
storage_pool      = "local-lvm"
disk_size         = "16G"
disk_format       = "raw"
network_vlan      = "10"
iso_storage_pool = "local:iso"
